/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel-cell {
    width: 100%;
}   
.carousel{
    width: 100%;
}

/* Menu */
.carousel-cell1 {
    width: 100%;
}   
.carousel1{
    width: 100%;
}